{% extends "flights/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="valign-wrapper row login-box">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <form method="POST">
            {% csrf_token %}
            <div class="card-content">
                <span class="card-title">Enter your credentials</span>
                {% if form.non_field_errors %}
                <div class="red-text center-align">
                    {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div class="input-field col s12">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                </div>
            </div>
            <div class="card-action center-align">
                <button type="submit" class="btn waves-effect waves-light"> Log In </button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}