{% extends "flights/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="valign-wrapper row login-box">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <form method="POST">
            {% csrf_token %}
            <div class="card-content">
                <span class="card-title">Forgot Password</span>
                <span>A password reset link has been sent to you. Please check your email.</span>
        </form>
    </div>
</div>

{% endblock content %}