{% extends "flights/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="valign-wrapper row login-box">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <form method="POST">
            {% csrf_token %}
            <div class="card-content">
                <span class="card-title">Update User</span>
                <div class="row">
                    <div class="input-field col s12">
                        {{ user_form|crispy }}
                    </div>
                </div>
            </div>
            <div class="card-action center-align">
                <button type="submit" class="btn waves-effect waves-light">Update</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}