{% extends "flights/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-sectino">
        <form class="col s12" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn waves-effect waves-light">Sign up
                  </button>
            </div>
        </form>
        <div>
            <small>
                Already have an account?
                <a href="#">Sign in</a>
            </small>
        </div>
    </div>
{% endblock content %}