{% extends "flights/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="valign-wrapper row register-box">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <form method="POST">
            {% csrf_token %}
            <div class="card-content">
                <span class="card-title">Create an Account</span>
                {% if form.non_field_errors %}
                <div class="red-text center-align">
                    {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        {% if form.username.errors %}
                        <div class="red-text">
                            {% for error in form.username.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="input-field col s12">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {% if form.email.errors %}
                        <div class="red-text">
                            {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="input-field col s12">
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                        <div class="red-text">
                            {% for error in form.password1.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="input-field col s12">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                        <div class="red-text">
                            {% for error in form.password2.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-action center-align">
                <input type="submit" class="btn waves-effect waves-light" value="Register">
            </div>
        </form>
        <div class="center-align">
            <small>
                Already have an account?
                <a href="{% url 'login' %}">Sign in</a>
            </small>
        </div>
    </div>
</div>


{% endblock %}