{% extends "flights/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="valign-wrapper row register-box">
    <div class="col card hoverable s12 pull-s0 m8 pull-m2 l6 pull-l3">
        <form method="POST">
            {% csrf_token %}
            <div class="card-content">
                <span class="card-title">Create an Account</span>
                {% if form.non_field_errors %}
                <div class="red-text center-align">
                    <ul>
                        {{ form.non_field_errors.as_ul }}
                    </ul>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col s12 m6">
                        {% for field in form.visible_fields %}
                        {% if field.name in "first_name last_name email" %}
                        <div class="input-field">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                            <div class="red-text">
                                <ul>
                                    {{ field.errors.as_ul }}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col s12 m6">
                        {% for field in form.visible_fields %}
                        {% if field.name in "username password1 password2" %}
                        <div class="input-field">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                            <div class="red-text">
                                <ul>
                                    {{ field.errors.as_ul }}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card-action center-align">
                <button type="submit" class="btn waves-effect waves-light">Register</button>
            </div>
        </form>
        <div class="center-align">
            <span> Already have an account? </span>
            <a href="{% url 'login' %}">Log In</a>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}
