{% extends "flights/base.html" %}

{% block content %}
    <h1>Aircraft</h1>
    <table class="responsive">
        <thead>
            <tr>
                <td>ID</td>
                <td>Callsign</td>
            </tr>
        </thead>
        <tbody>
            {% for aircraft in aircrafts %}
            <tr> 
                <td>{{ aircraft.id }}</td>
                <td>{{ aircraft.callsign }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}