{% extends "flights/base.html" %}
{% load time_filters %}

{% block content %}
<h1>All flights</h1>
{% if user.is_authenticated %}
<a class="waves-effect waves-light btn" , href="{% url 'flight-create' %}"><i
        class="material-icons right">add</i>Create</a>
{% endif %}
<style>
    table {
        display: block;
        overflow-x: auto;
    }
</style>
<div>
    <table class="highlight">
        <thead>
            <tr>
                <th>Date</th>
                <th>Pilot</th>
                <th>Plane</th>
                <th>Base</th>
                <th>Mission</th>
                <th>Engine on</th>
                <th>Takeoff</th>
                <th>Landing</th>
                <th>Engine off</th>
                <th>Air time</th>
                <th>EJ attempted</th>
                <th>EJ fired</th>
                <th>BIP attempted</th>
                <th>BIP fired</th>
                <th>HBIP attempted</th>
                <th>HBIP fired</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
            <tr>
                <td style="white-space: nowrap;">{{ flight.date|date:"d M Y" }}</td>
                <td>{{ flight.pilot }}</td>
                <td>{{ flight.plane }}</td>
                <td>{{ flight.airport }}</td>
                <td>{{ flight.mission_type }}</td>
                <td>{{ flight.engine_on|date:"H:i" }}</td>
                <td>{{ flight.takeoff|date:"H:i" }}</td>
                <td>{{ flight.landing|date:"H:i" }}</td>
                <td>{{ flight.engine_off|date:"H:i" }}</td>
                <td style="white-space: nowrap;">{{ flight.air_time|duration }}</td>
                <td>{{ flight.ej_attempted }}</td>
                <td>{{ flight.ej_fired }}</td>
                <td>{{ flight.bip_attempted }}</td>
                <td>{{ flight.bip_fired }}</td>
                <td>{{ flight.hbip_attempted }}</td>
                <td>{{ flight.hbip_fired }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<!-- <div>
    <ul class="pagination">
        <li class="waves-effect"><a href="?page=1"><i class="material-icons">first_page</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="?page={{ page_obj.paginator.num_pages }}"><i
                    class="material-icons">last_page</i></a></li>
    </ul>
</div> -->

{% endblock content %}