{% extends "flights/base.html" %}

{% block content %}
    <h1>Flights home</h1>
    {% if user.is_authenticated %}
        <a class="waves-effect waves-light btn", href="{% url 'flight-create' %}"><i class="material-icons right">add</i>Create</a>
    {% endif %}
    <table class="responsive">
        <thead>
            <tr>
                <td>Date</td>
                <td>Pilot</td>
                <td>Aircraft</td>
                <td>Mission</td>
                <td>Engine on</td>
                <td>Take off</td>
                <td>Landing</td>
                <td>Engine off</td>
                <td>Ej attempted</td>
                <td>Ej fired</td>
                <td>Ebip attempted</td>
                <td>Bip fired</td>
                <td>Hygro attempted</td>
                <td>Hygro fired</td>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
            <tr> 
                <td>{{ flight.date }}</td>
                <td>{{ flight.pilot }}</td>
                <td>{{ flight.aircraft }}</td>
                <td>{{ flight.mission_type }}</td>
                <td>{{ flight.engine_on }}</td>
                <td>{{ flight.take_off }}</td>
                <td>{{ flight.landing }}</td>
                <td>{{ flight.engine_off }}</td>
                <td>{{ flight.ej_attempted }}</td>
                <td>{{ flight.ej_fired }}</td>
                <td>{{ flight.bip_attempted }}</td>
                <td>{{ flight.bip_fired }}</td>
                <td>{{ flight.hygro_attempted }}</td>
                <td>{{ flight.hygro_fired }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}